*.synctex.gz
*.log
*.aux
*.nb
*.bbl
*.blg
*.mod
upic_es_h5/diagparams_jf
upic_es_h5/diagparams_jf
upic_es_h5/energies.0
upic_es_h5/pdiag2.init.0
*.0
*.out
*.0
upic_es_h5/poutput2.0
upic_es_h5/diagparams_jf
upic_es_h5/pdiag2.init.0
upic_es_h5/poutput2.0
upic_es_h5/ppotk2.0
upic_es_h5/diagparams_jf

*.pyc

*.o
